
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
}

#india-map-container {
    flex: 2; /* Adjust size ratio */
    max-width: 100%;
}

/* SVG styling */
svg {
    width: 100%; /* Scale to full width */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Prevent vertical overflow */
    display: block;
}

#stateData {
    flex: 1; /* Adjust size ratio */
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#stateDetails {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Hover effects for states */
.state {
    cursor: pointer;
    fill: #B0BEC5; /* Default color */
    transition: fill 0.3s ease;
}

.state:hover {
    fill: #FF9900; /* Highlight on hover */
}
